.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
  z-index: 1;
  padding: 10px 0;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
}

.navLinks li a {
  text-decoration: none;
  color: black;
}

.navLinks li:hover {
  text-decoration: underline;
  color: red;
}

.navLinks li a.isActive {
  color: red;
}
