.listReviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-left: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.reviewHeader {
  font-weight: 600;
}
